.filtersContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .filterSelect {
    width: 200px;
  }
  
  .MuiFormControl-root {
    min-width: 120px;
  }
  
  .MuiInputLabel-root {
    color: #244198;
  }
  
  .MuiSelect-root {
    color: #333;
  }
  